.footer {
    max-width: 80%;
    margin: 0 auto;
    color: whitesmoke;
    padding: 10px;
}

.footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logo a:hover {
    transform: scale(1.3);
}

.footer hr {
    color: goldenrod;
    margin: 10px 0px 10px 0px;
}

.footer p a {
    color: goldenrod;
}

.footer p {
    text-align: center;
    font-size: 1.3rem;
}

@media (max-width:750px) {
    .footer {
        max-width: 95%;
    }
}

@media (max-width:400px) {
    .footer p {
        font-size: 1rem;
    }
}