.footer {
    background-color: rgba(0, 0, 0, 0.801);
    color: whitesmoke;
    padding: 10px;
}
.footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; 
}
.logo a:hover{
transform: scale(1.3);
}

.footer hr {
    color: goldenrod;
    margin: 10px 0px 10px 0px;
}

.footer p a{
    color: goldenrod;
}
.footer p {
    text-align: center;
}